::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c4c4e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #00000080;
  border-radius: 10px;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#application-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

#application-page-header {
  border-bottom: 1px solid #2c4c4e;
}

#header-album-title {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}

#header-album-artist {
  font-size: 16px;
  color: #2c4c4e;
}

#application-page-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#application-page-album {
  margin-top: 70px;
  display: flex;
  gap: 2%;
  justify-content: center;
  height: 46vh;
  transition: flex 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.expanded#application-page-album {
  flex: 1 1 auto;
}

#album-artwork {
  border-radius: 20px;
  width: 14vw;
  height: 40vh;
  object-fit: cover;
  border: 1px solid #6f0000;
  margin-top: 20px;
}

#album-songs-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 75%;
}

#album-songs-list-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 11px;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6f0000;
  flex: 1000 1 auto;
}

.album-song {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 100ms ease-in-out;
}

.album-song:hover {
  background-color: #ffffff15;
}

.album-song:hover .album-song-lineup {
  background-color: #e00000;
}
.album-song:hover .album-song-play {
  transform: scale(1.2);
  visibility: visible;
}

.album-song-play {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(26deg) brightness(106%)
    contrast(101%);
  width: 40px;
  cursor: pointer;
  transition: transform 100ms ease-in-out, filter 200ms ease-in-out;
  margin-right: 10px;
  visibility: hidden;
}

#album-song-pause-button {
  filter: invert(13%) sepia(99%) saturate(7473%) hue-rotate(6deg)
    brightness(86%) contrast(114%);
}

.album-song-lineup {
  background-color: #6f0000;
  width: 2px;
  height: 100%;
  border-radius: 15px;
  transition: background-color 100ms ease-in-out;
}

.album-song-number {
  display: flex;
  min-width: 45px;
  max-width: 45px;
  justify-content: center;
  font-size: 20px;
}

.album-song-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  padding-left: 10px;
}

#album-tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0.1vh;
  gap: 15px;
  /*   margin-top: 10px; */
}

#album-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #6f0000;
  align-items: center;
  gap: 2%;
}

#album-to-playlist-container {
  display: flex;
  flex-direction: column;
}

#add-to-playlist-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  position: absolute;
  margin-top: -45px;
  width: 10%;
  padding: 5px;
  z-index: 2;
  color: white;
  /*   opacity: 1; */
  /*   visibility: visible; */
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.visible#add-to-playlist-input-container {
  visibility: visible;
  opacity: 1;
  /*   transition: opacity 200ms ease-in-out; */
}

.to-new-or-existing-btn {
  background-color: transparent;
  color: white;
  border: none;
  /*     padding: 5px; */
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 3px;
  transition: letter-spacing 200ms ease-in-out;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 15px;
}

.to-new-or-existing-btn:hover {
  background-color: #70047687;
  letter-spacing: 0px;
}

.add-to-playlist-modal-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 30%;
  min-width: 300px;
  height: 30%;
  min-height: 200px;
  background-color: #000000fc;
  border-radius: 15px;
  border: 1px solid #2c4c4e;
  overflow: auto;
  gap: 20px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  color: white;
}

.visible.add-to-playlist-modal-container {
  display: flex;
  animation: modalFadeIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.add-to-playlist-modal-container > label {
  text-align: center;
  font-size: 30px;
}

.add-to-playlist-modal-container > input {
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6f0000;
  text-align: center;
  padding: 5px;
  letter-spacing: 1px;
  color: white;
  width: 95%;
}

.add-to-playlist-modal-container > button {
  font-size: 17px;
  background-color: #6f0000;
  border: none;
  border-radius: 5px;
  padding: 8px;
  letter-spacing: 3px;
  cursor: pointer;
  color: white;
  transition: letter-spacing 200ms ease-in-out,
    background-color 200ms ease-in-out, border 200ms ease-in-out;
  border: 1px solid #6f0000;
}

.add-to-playlist-modal-container > button:hover {
  letter-spacing: 0px;
  background-color: #a30000;
  border: 1px solid white;
}

/* #add-to-playlist-input-container > input {
  border: none;
    border-bottom: 1px solid white;
  background-color: transparent;
  width: 100%;
  letter-spacing: 1px;
  color: white;
} */

/* #add-to-playlist-input-container > img {
  filter: invert(10%) sepia(52%) saturate(7016%) hue-rotate(356deg)
    brightness(99%) contrast(115%);
  cursor: pointer;
} */

#album-songs-count {
  color: white;
  font-size: 30px;
  white-space: nowrap;
  color: white;
  border-radius: 1px;
  padding-bottom: 6px;
  margin-right: 2%;
}

#album-play-all-container > .album-info-image {
  transform: scale(1.4);
}

.album-info-container {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  gap: 5px;
  transition: transform 200ms ease-in-out;
}

.album-info-container:hover {
  /* transform: scale(1.04); */
  background-color: #ffffff20;
}

.album-info-container-split-line {
  color: #2c4c4e;
  transform: scale(1.5);
}

.album-info-image {
  filter: invert(11%) sepia(73%) saturate(5924%) hue-rotate(7deg)
    brightness(87%) contrast(118%);
}

.album-info-text {
  white-space: wrap;
  color: white;
  font-size: 16px;
  opacity: 1;
  transition: font-size 200ms ease-in-out, opacity 200ms ease-in-out;
  font-weight: 700;
  letter-spacing: 2px;
}

.album-info-container:hover .album-info-text {
  font-size: 16px;
  opacity: 1;
}

#album-tags-container {
  flex: 1 0 45px;
  flex-wrap: wrap;
  /*   flex: 1 1 10%; */
  margin-bottom: 10px;
}

#album-tags-list-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex: 1;
  flex-wrap: wrap;
}

#album-tags-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

#album-tags-list-container > span {
  color: white;
  border: 2px solid #38023b;
  border-radius: 4px;
  padding: 3px;
}

#expand-list-btn-container {
  color: white;
  margin-left: auto;
  cursor: pointer;
  border: 2px solid #6f0000;
  border-radius: 30px;
  padding: 6px;
  transition: background-color 100ms cubic-bezier(1, -0.24, 0.6, 1);
}

#expand-list-btn-container:hover {
  background-color: #6f0000;
}

.expanded#expand-list-btn-container {
  background-color: #6f0000;
}

.expanded#expand-list-btn-container:hover {
  background-color: #6f000085;
}

#expand-list-btn-container > span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: letter-spacing 200ms cubic-bezier(1, -0.24, 0.6, 1);
}

.expanded#expand-list-btn-container > span {
  letter-spacing: 10px;
}

@media only screen and (max-width: 799px) {
  #album-info {
    gap: 0%;
  }

  .album-info-image {
    width: 20px;
    transition: width 200ms ease-in-out;
  }

  .album-info-text {
    font-size: 0px;
    opacity: 0;
    letter-spacing: 0px;
  }

  .album-info-container:hover .album-info-text {
    font-size: 16px;
    opacity: 1;
    letter-spacing: 2px;
  }

  #album-songs-count {
    font-size: 20px;
    padding-bottom: 6px;
    transition: font-size 200ms ease-in-out;
  }

  #header-album-title {
    font-size: 30px;
    letter-spacing: 1px;
  }

  #header-album-artist {
    font-size: 14px;
  }

  .album-song-play {
    width: 20px;
    margin-right: 10px;
    visibility: hidden;
  }

  #expand-list-btn-container > span {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    transition: letter-spacing 200ms ease-in-out;
  }

  #album-tags-container {
    flex: 1 1 30%;
    margin-bottom: 0px;
  }

  #expand-list-btn-container > span {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .expanded#expand-list-btn-container > span {
    letter-spacing: 5px;
  }

  #album-tags-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  #album-tags-list-container > span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 950px) and (min-width: 800px) {
  #album-info {
    gap: 1%;
  }

  .album-info-text {
    font-size: 13px;
  }

  #album-songs-count {
    font-size: 20px;
    padding-bottom: 6px;
    transition: font-size 200ms ease-in-out;
  }

  .album-info-image {
    width: 20px;
    transition: width 200ms ease-in-out;
  }
}

@media only screen and (max-width: 500px) {
  #header-album-title {
    font-size: 20px;
    letter-spacing: 1px;
  }

  #header-album-artist {
    font-size: 12px;
  }
}
