@keyframes errorMsgAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalPopup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#album-to-playlist-modal-container {
  display: none;
  background-color: #000000e0;
  position: fixed;
  flex-direction: column;
  /* justify-content: space-evenly; */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 40%;
  width: 25%;
  min-height: 300px;
  min-width: 300px;
  /* background-color: white; */
  border-radius: 10px;
  z-index: 99;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 20px #6f0000;
  animation: modalPopup 100ms ease-in-out;
  color: white;
}

#album-to-playlist-action-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* flex: 0 1 15%; */
  margin-top: 5%;
  /* height: 10%; */
}

#album-to-playlist-action-container > button {
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid black;
  background-color: none;
  padding: 5px;
  transition: border-radius 100ms ease-in-out, letter-spacing 100ms ease-in-out;
}

#album-to-playlist-action-container:first-child :hover {
  border-radius: 10px;
  letter-spacing: 0px;
}

#album-to-playlist-content {
  border: 1px solid black;
  margin: 0 20px;
  height: 140px;
  /* height: 50%; */
  padding: 5px 0;
}

#album-select-songs-list {
  display: grid;
  font-size: 0px;
  list-style: none;
  padding: 0;
  /* margin-bottom: 10px; */
  grid-auto-columns: auto;
  /* justify-content: space-around; */
  gap: 5px;
  grid-auto-flow: row;
  /* align-items: center; */
  /* height: 100%; */
  max-height: 140px;
  overflow-y: auto;
}

#album-select-songs-list > label {
  font-size: 16px;
  border: 1px solid red;
  border-radius: 3px;
  margin: 0 5%;
  text-align: right;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  /* float: right; */
}

#album-select-songs-list > label > input {
  /* margin-left: auto; */
  float: left;
}

#album-to-playlist-progressbar-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: black;
  border: 1px solid black;
  height: 10px;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
}

#album-to-playlist-progressbar {
  background-color: #6f0000;
  border-radius: 10px;
  width: 0%;
  transition: width 200ms ease-in-out;
}

.progress-bar-0#album-to-playlist-progressbar {
  width: 0%;
}

.progress-bar-33#album-to-playlist-progressbar {
  width: 33.3333%;
}

.progress-bar-66#album-to-playlist-progressbar {
  width: 66.6666%;
}

.progress-bar-100#album-to-playlist-progressbar {
  width: 100%;
}

#next-or-previous-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  gap: 5%;
  height: 10%;
}

#next-button,
#previous-button {
  padding: 5px;
  font-size: 15px;
  width: 25%;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  letter-spacing: 1px;
  pointer-events: none;
  transition: background-color 300ms ease-in-out,
    letter-spacing 200ms ease-in-out;
}

.enabled.createPlaylistBtn#next-button {
  /* font-size: 17px; */
  background-color: #6f0000;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  /* padding: 8px; */
  /* letter-spacing: 3px; */
  /* cursor: pointer; */
  /* color: white; */
  /* transition: letter-spacing 200ms ease-in-out, background-color 200ms ease-in-out, border 200ms ease-in-out; */
}

.enabled#next-button,
.enabled#previous-button {
  background-color: blue;
  cursor: pointer;
  pointer-events: all;
  /* transition: letter-spacing 200ms ease-in-out; */
}

.enabled#next-button:hover,
.enabled#previous-button:hover {
  letter-spacing: 0px !important;
}

#album-new-or-existing {
  display: none;
}

.show#album-new-or-existing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100%;
}

.show#album-new-or-existing > button {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px 10px;
  width: 40%;
  border: 1px solid black;
  transition: letter-spacing 200ms ease-in-out, border 200ms ease-in-out;
  cursor: pointer;
}

.show#album-new-or-existing > button:hover {
  letter-spacing: 0px;
}

.show#album-new-or-existing > .selected {
  border: 1px solid red;
  letter-spacing: 0px;
}

#album-select-all-container {
  display: flex;
  align-items: center;
  position: absolute;
  /* justify-content: center; */
  /* margin: 0 auto; */
  margin-left: 33%;
  margin-top: 9px;
  /* cursor: pointer; */
  border: 1px solid black;
  padding: 1px 10px;
  transition: border-radius 100ms ease-in-out;
}

.active#album-select-all-container {
  border-radius: 5px;
  border: 1px solid red;
}

#album-select-all-container:hover {
  border-radius: 5px;
  border: 1px solid red;
}

#album-select-all-input {
  /* padding: 4px 10px; */
  letter-spacing: 1px;
}

#album-select-all-input:hover {
  letter-spacing: 0px;
}

#album-to-new-content {
  display: none;
}

.show#album-to-new-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.show#album-to-new-content > #album-to-new-error-msg {
  display: none;
  position: absolute;
  margin-bottom: 20%;
  letter-spacing: 1px;
}

.show#album-to-new-content > .error#album-to-new-error-msg {
  display: block;
  color: red;
  font-weight: 700;
  font-size: 18px;
  animation: errorMsgAnimation 100ms ease-in-out;
}

.show#album-to-new-content > .noErrors#album-to-new-error-msg {
  display: block;
  color: green;
  font-weight: 700;
  font-size: 18px;
  animation: errorMsgAnimation 100ms ease-in-out;
}

.show#album-to-new-content > input {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #6f0000;
  /* 		border-top: 2px solid #6f0000;
		    border-bottom: 2px solid #6f0000; */
  text-align: center;
  padding: 5px;
  letter-spacing: 1px;
  color: white;
  width: 75%;
}

#album-to-new-success-content {
  display: none;
}

.show#album-to-new-success-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 15%;
}

.show#album-to-new-success-content #album-to-new-result {
  color: green;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.show#album-to-new-success-content #album-just-created-name {
  font-size: 16px;
  letter-spacing: 2px;
  transition: letter-spacing 200ms ease-in-out,
    background-color 100ms ease-in-out, border 100ms ease-in-out;
  cursor: pointer;
  border: 1px solid #6f0000;
  border-radius: 5px;
  padding: 5px;
  background-color: #6f0000;
  color: white;
}

.show#album-to-new-success-content #album-just-created-name:hover {
  letter-spacing: 0px;
  background-color: #a30000;
  border: 1px solid black;
}
