@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_sans/OpenSans-Light.ttf") format("truetype");
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}
@-o-keyframes GradientAnimation {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    94deg,
    #200122,
    #6f0000,
    #200122,
    #200122,
    #6f0000,
    #200122
  );
  background-size: 1200% 1200%;

  -webkit-animation: GradientAnimation 40s ease infinite;
  -moz-animation: GradientAnimation 40s ease infinite;
  -o-animation: GradientAnimation 40s ease infinite;
  animation: GradientAnimation 40s ease infinite;
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  height: 100%;
}

#flex-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

#application-section-container {
  display: flex;
  flex: 1;
}

#footer-player-container {
  display: flex;
  background: rgb(0 0 0 / 0.6);
  box-shadow: 0px 0px 25px 15px rgb(0 0 0 / 0.4);
  backdrop-filter: blur(10px);
  min-height: 120px;
  max-height: 120px;
  flex-direction: row;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* Should outline be a brighter shade of below purple? */
  border-top: 2px solid #200122;

  transition: 200ms ease-in-out;
}

#footer-player-container:hover {
  border-top: 2px solid #38023b;
}

#player-control-container {
  flex: 0 0 33.333333%;
  padding-bottom: 15px;
}

#current-song-container {
  display: flex;
  align-items: center;
  flex: 0 1 33.333333%;
  padding-left: 30px;
}

#volume-control-container {
  display: flex;
  flex: 0 1 33.333333%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  gap: 10px;
}

#player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 700px) {
  #player-controls {
    gap: 0px;
  }
}

#player-controls > img {
  cursor: pointer;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#player-controls :first-child,
#player-controls :last-child {
  margin-top: 40px;
}

#player-controls :nth-child(2),
#player-controls :nth-child(5) {
  margin-top: 20px;
}

#player-right,
#player-left {
  width: 40px;
  transition: 150ms ease-in-out;
}

#player-right:hover,
#player-left:hover {
  transform: scale(1.3);
}

.player-play-pause {
  width: 60px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(253deg)
    brightness(102%) contrast(102%);
  transition: transform 150ms ease-in-out, filter 100ms ease-in-out;
}

.player-play-pause:hover {
  transform: scale(1.2);
  filter: invert(10%) sepia(36%) saturate(6264%) hue-rotate(10deg)
    brightness(114%) contrast(131%);
}

#player-shuffle,
#player-repeat {
  width: 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: transform 150ms ease-in-out, filter 100ms ease-in-out,
    border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(274deg)
    brightness(108%) contrast(102%);
}

#player-shuffle:hover,
#player-repeat:hover {
  transform: scale(1.2);
  filter: invert(10%) sepia(36%) saturate(6264%) hue-rotate(10deg)
    brightness(114%) contrast(131%);
  border: 1px solid #6f0000;
}

#player-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  gap: 10px;
}

#player-progress > span {
  font-size: 15px;
}

#progress-bar {
  max-width: 500px;
  width: 23vw;
  cursor: pointer;
}

#progress-bar-bg {
  background-color: #162627;
  height: 8px;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
}

#progress-bar:hover #progress {
  background-color: #e00000;
}

#progress {
  background-color: #6f0000;
  height: 8px;
  width: 50%;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
}

#current-song-container #current-song-img {
  max-width: 80px;
  border-radius: 10px;
}

@media only screen and (max-width: 480px) {
  #current-song-container #current-song-img {
    width: 50px;
  }
  #current-song-container {
    padding-left: 5px;
  }
  #volume-control-container {
    padding-right: 5px;
  }
}

#current-song-container #current-song-info {
  margin-left: 15px;
}

#current-song-info #current-song-name {
  font-size: 25px;
  color: #2c8c99;
  user-select: text !important;
}

#current-song-info #current-song-author {
  font-size: 16px;
  color: #28464b;
  font-weight: bold;
  user-select: text;
}

@media only screen and (max-width: 860px) {
  #current-song-info #current-song-name {
    font-size: 13px;
    font-weight: bold;
  }
  #current-song-info #current-song-author {
    font-size: 10px;
  }
}

#volume-control-btn {
  margin-top: 5px;
}

.volume-control-button-img {
  cursor: pointer;
  width: 30px;
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg)
    brightness(110%) contrast(110%);
  transition: 200ms ease-in-out;
}

.volume-control-button-img:hover {
  transform: scale(1.2);
}

#volume-control-bar {
  cursor: pointer;
}

#volume-control-btn:hover + #volume-control-bar #volume-control-bar-progress {
  background-color: #e00000;
}

#volume-control-bar:hover #volume-control-bar-progress {
  background-color: #e00000;
}

#volume-control-bar-bg {
  background-color: #162627;
  width: 10vw;
  height: 8px;
  border-radius: 10px;
}

#volume-control-bar-progress {
  background-color: #6f0000;
  width: 80%;
  height: 8px;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
}

#application-nav-bar {
  display: flex;
  flex: 0 0 80px;
  background: rgb(0 0 0 / 0.7);
  box-shadow: 0px 0px 25px 15px rgb(0 0 0 / 0.4);
  backdrop-filter: blur(10px);
  flex-direction: column;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 2px solid #200122;
  border-right: 2px solid #200122;
  border-top: 2px solid #200122;
  transition: 200ms ease-in-out;
}

#application-nav-bar:hover {
  flex: 0 0 175px;
  background: rgb(0 0 0 / 0.9);
  border-bottom: 2px solid #38023b;
  border-right: 2px solid #38023b;
  border-top: 2px solid #38023b;
}

.nav-bar-item {
  display: flex;
  transition: all 200ms ease-in-out;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #162627;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-bar-item:hover {
  box-shadow: inset 5px 0px 0px #6f0000;
  cursor: pointer;
}

.nav-bar-item:hover .nav-bar-text {
  color: #e00000;
}

.nav-bar-item:hover #nav-bar-home-img {
  transform: rotate(90deg);
}

.nav-bar-item:hover #nav-bar-search-img {
  transform: rotate(90deg);
}

.nav-bar-item:hover #nav-bar-browse-img {
  transform: rotate(45deg);
}

.nav-bar-item:hover #nav-bar-yourmusic-img {
  transform: rotate(90deg);
}

.nav-bar-item:hover #nav-bar-settings-img {
  transform: rotate(60deg);
}

.nav-bar-item > img {
  margin-left: 21px;
  transition: 200ms ease-in-out;
  filter: invert(99%) sepia(78%) saturate(2%) hue-rotate(7deg) brightness(112%)
    contrast(30%);
}

.nav-bar-text {
  transition: 200ms ease-in-out;
  font-size: 0px;
  color: white;
  opacity: 0;
  user-select: none;
}

#application-nav-bar:hover .nav-bar-text {
  font-size: 20px;
  opacity: 1;
}

#application-nav-bar:hover .nav-bar-item > img {
  margin-left: 10px;
  filter: invert(99%) sepia(78%) saturate(2%) hue-rotate(7deg) brightness(112%)
    contrast(100%);
}

#application-nav-bar:hover #nav-bar-title #musafy-logo {
  filter: invert(46%) sepia(72%) saturate(396%) hue-rotate(139deg)
    brightness(88%) contrast(91%);
}

.nav-bar-img {
  width: 35px;
}

#nav-bar-settings {
  margin-top: auto;
  border-bottom: none;
}

#nav-bar-title {
  display: flex;
  flex: 0 0 80px;
  flex-direction: column;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#nav-bar-title-text {
  letter-spacing: 10px;
}

#musafy-logo {
  width: 50px;
  justify-content: center;
  align-items: center;
  filter: invert(10%) sepia(29%) saturate(631%) hue-rotate(135deg)
    brightness(98%) contrast(92%);
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#application-page {
  flex: 1;
  background: rgb(0 0 0 / 0.7);
  border-radius: 10px;
}

#application-page-header {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

#application-page-albums {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.albums {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.album-info {
  color: white;
}

.album-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
