@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_sans/OpenSans-Light.ttf") format("truetype");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../img/signup_and_login_bg.jpg) no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "OpenSans-Regular", sans-serif;
  margin: 0;
  padding: 0;
}

#input-container {
  display: flex;
  justify-content: space-evenly;
  margin: 130px auto;
  width: 1300px;
  background: rgb(0 0 0 / 50%);
  border: 3px solid #fecb00;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  height: 525px;
  align-items: center;
}

#to-signin {
  position: relative;
  cursor: pointer;
  bottom: 30px;
}

#to-signin > h2 {
  letter-spacing: 3px;
  font-size: 45px;
  color: black;
  transition: 0.2s ease-in-out;
}

#to-signin > span {
  letter-spacing: 3px;
  display: block;
  text-align: center;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  color: black;
}

#to-signin:hover > h2 {
  letter-spacing: 0px;
  color: white;
  transition: 0.2s ease-in-out;
}

#to-signin:hover > span {
  color: white;
  letter-spacing: 0px;
}

#signin-form > p > label {
  display: block;
  font-size: 23px;
  position: relative;
  bottom: 1px;
  color: white;
}

#signin-form > p > input {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
}

#signin-form > p > input:focus > label {
  color: red;
}

#to-signup {
  position: relative;
  cursor: pointer;
  bottom: 30px;
}

#to-signup > h2 {
  letter-spacing: 3px;
  font-size: 45px;
  color: black;
  transition: 0.2s ease-in-out;
}

#to-signup > span {
  display: block;
  text-align: center;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  letter-spacing: 3px;
  color: black;
}

#to-signup:hover > h2 {
  letter-spacing: 0px;
  color: white;
}

#to-signup:hover > span {
  color: white;
  letter-spacing: 0px;
}

#signup-form > p {
  margin: 25px auto;
}

#signup-form > p > label {
  font-size: 22px;
  color: white;
}

#signup-form > p > input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  font-size: 19px;
  float: right;
  padding: 5px;
  height: 35px;
  color: white;
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  margin: 20px auto;
  min-width: 120px;
  justify-content: center;
  letter-spacing: 2px;
}

#signup-btn {
  background-color: rgb(246, 186, 0);
  position: relative;
  /*   top: 15px; */
  border: 1px solid black;
  border-radius: 0px;
  font-size: 17px;
}

#signup-btn:hover {
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
  border-radius: 0px;
  border: 1px solid black;
  letter-spacing: 0px;
}

#signup-back-btn {
  position: absolute;
  top: 450px;
  background-color: black;
  color: white;
  font-size: 13px;
  text-align: center;
}

#signin-back-btn {
  position: absolute;
  font-size: 13px;
  text-align: center;
  background-color: black;
  color: white;
  left: 590px;
}

.back-btn:hover {
  letter-spacing: 0px;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.arrow-back-span {
  position: relative;
  transform: scale(2);
  right: 10px;
  top: -1px;
}

#signin-error-msg {
  color: red;
  position: absolute;
  font-size: 25px;
  top: 100px;
  left: 425px;
  font-weight: bold;
}

.error-msg {
  color: red;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}
