@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MateSC_Regular";
  src: url("../fonts/Mate_Sc/MateSC-Regular.ttf") format("truetype");
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-o-keyframes GradientAnimation {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    227deg,
    #200122,
    #6f0000,
    #200122,
    #200122,
    #6f0000,
    #200122
  );
  background-size: 1200% 1200%;

  -webkit-animation: GradientAnimation 39s ease infinite;
  -moz-animation: GradientAnimation 39s ease infinite;
  -o-animation: GradientAnimation 39s ease infinite;
  animation: GradientAnimation 39s ease infinite;
}

body {
  font-family: "MateSC_Regular", sans-serif;
  margin: 0;
  padding: 0;
}

#input-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  /*   width: 1300px; */
  background: rgb(0 0 0 / 50%);
  border: 2px solid #200122;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 70%;
  width: 70%;
  /*   align-items: center; */
  transition: 300ms ease-in-out;
  flex-direction: column;
}

#input-container:hover {
  border: 2px solid #28464b;
}

#to-signin {
  display: flex;
  flex-direction: column;
  /*   position: relative; */
  cursor: pointer;
  /*   bottom: 30px; */
  /*     box-shadow: 0px 10px 0px 0px white; */
  /*   justify-content: center; */
  /*   align-items: center; */
  /*   flex: 1 1 auto; */
}

#to-signin > h2 {
  letter-spacing: 3px;
  /*   font-size: 45px; */
  font-size: 3vw;
  color: #28464b;
  transition: 0.2s ease-in-out;
  margin: 10px 0 0 0;
  text-align: center;
}

#to-signin > span {
  letter-spacing: 3px;
  /*   display: block; */
  text-align: center;
  font-size: 1.5vw;
  transition: 0.2s ease-in-out;
  color: #28464b;
  white-space: nowrap;
}

#to-signin:hover > h2 {
  letter-spacing: 0px;
  color: white;
  transition: 0.2s ease-in-out;
}

#to-signin:hover > span {
  color: white;
  letter-spacing: 0px;
}

#signin-form > p > label {
  display: flex;
  font-size: 2vw;
  /*   position: relative; */
  /*   bottom: 1px; */
  color: white;
}

#signin-form > p > input {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  padding: 10px;
  /*   height: 35px; */
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
}

#signin-form > p > input:focus > label {
  color: red;
}

#to-signup {
  display: flex;
  flex-direction: column;
  /*   position: relative; */
  cursor: pointer;
  /*   bottom: 30px; */
  /*   flex: 1 1 auto; */
  /*   justify-content: center; */
  /*   align-items: center; */
}

#to-signup > h2 {
  letter-spacing: 3px;
  font-size: 3vw;
  color: #28464b;
  transition: 0.2s ease-in-out;
  margin: 10px 0 0 0;
  text-align: center;
}

#to-signup > span {
  /*   display: block; */
  text-align: center;
  font-size: 1.5vw;
  transition: 0.2s ease-in-out;
  letter-spacing: 3px;
  color: #28464b;
  white-space: nowrap;
}

#to-signup:hover > h2 {
  letter-spacing: 0px;
  color: white;
}

#to-signup:hover > span {
  color: white;
  letter-spacing: 0px;
}

#signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#signup-form > p {
  /*   margin: 25px auto; */
}

#signup-form > p > label {
  font-size: 1.5vw;
  color: white;
}

#signup-form > p > input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  font-size: 1vw;
  /*   float: right; */
  padding: 5px;
  height: 35px;
  color: white;
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px;
  border-radius: 30px;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  margin: 10px auto;
  min-width: 120px;
  justify-content: center;
  letter-spacing: 2px;
  /*   align-items: center; */
}

#signup-btn {
  background-color: rgb(246, 186, 0);
  /*   position: relative; */
  /*   top: 15px; */
  border: 1px solid black;
  border-radius: 0px;
  font-size: 17px;
}

#signup-btn:hover {
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
  border-radius: 0px;
  border: 1px solid black;
  letter-spacing: 0px;
}

#signup-back-btn {
  /*   position: absolute; */
  /*   top: 450px; */
  background-color: black;
  color: white;
  font-size: 13px;
  text-align: center;
}

#signin-back-btn {
  /*   position: absolute; */
  font-size: 13px;
  text-align: center;
  background-color: black;
  color: white;
  /*   left: 590px; */
}

.back-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8vw !important;
}

.back-btn:hover {
  letter-spacing: 0px;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.arrow-back-span {
  /*   position: relative; */
  transform: scale(2);
  /*   right: 10px; */
  /*   top: -1px; */
  font-size: 1vw;
}

.error-msg {
  color: red;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#signin-error-msg .error-msg {
  color: red;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px);
  font-size: 20px;
  font-weight: bold;
}

#signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(255 255 255 / 51%);
  letter-spacing: 1px;
}
