@keyframes myMusicHeaderAnimation {
  0% {
    opacity: 0;
  }
  25% {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 25px;
  }
  75% {
    letter-spacing: 25px;
  }
  100% {
    opacity: 1;
    letter-spacing: 3px;
  }
}

#application-page-header.mymusic-header {
  /* justify-content: center; */
  align-items: center;
  padding-left: 25px;
}

#application-page-header.mymusic-header > h1 {
  text-align: left;
  color: white;
  animation: myMusicHeaderAnimation 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 3px;
  opacity: 1;
}

#mymusic-album-creation {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  align-items: center;
  color: white;
  margin-top: 50px;
  gap: 10px;
}

#mymusic-album-creation > div {
  display: flex;
  flex-direction: column;
}

#mymusic-album-creation > div > label {
  font-size: 25px;
  margin-bottom: 1px;
}

#mymusic-album-creation > div > input {
  padding: 4px;
  font-size: 18px;
}

#mymusic-album-creation > div > #mymusic-createdby-name {
  cursor: not-allowed;
}

#mymusic-album-creation > #mymusic-files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 500px;
  color: black;
  border-radius: 15px;
}

#mymusic-album-creation > #mymusic-files-container > h2 {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

#mymusic-album-creation > #mymusic-files-container > h2 > span {
  font-size: 16px;
  color: green;
}

#mymusic-album-creation > #mymusic-files-container > #grid-file-container {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  /* gap: 10px; */
  width: 100%;
  /* padding: 5px; */
}

#mymusic-album-creation
  > #mymusic-files-container
  > #grid-file-container
  > span {
  width: fit-content;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}

#create-album-btn {
  padding: 5px;
  width: 25%;
  font-size: 20px;
  letter-spacing: 4px;
  border: 1px solid white;
  transition: letter-spacing 200ms ease-in-out,
    background-color 200ms ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

#create-album-btn:hover {
  letter-spacing: 0px;
  background-color: green;
  border: 1px solid white;
}
