@keyframes myMusicHeaderAnimation {
  0% {
    opacity: 0;
  }
  25% {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 25px;
  }
  75% {
    letter-spacing: 25px;
  }
  100% {
    opacity: 1;
    letter-spacing: 3px;
  }
}

#application-page-header.mymusic-header {
  /* justify-content: center; */
  align-items: center;
  padding-left: 25px;
}

#application-page-header.mymusic-header > h1 {
  text-align: left;
  color: white;
  animation: myMusicHeaderAnimation 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 3px;
  opacity: 1;
}
