@keyframes uploadHeaderAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    /* letter-spacing: 3px; */
  }
}

#application-page-header.upload-header {
  /* justify-content: center; */
  align-items: center;
  padding-left: 25px;
}

#application-page-header.upload-header > h1 {
  text-align: left;
  color: white;
  animation: uploadHeaderAnimation 800ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 3px;
  opacity: 1;
}

#upload-album-creation {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  align-items: center;
  color: white;
  margin-top: 50px;
  gap: 10px;
}

#upload-album-creation > div {
  display: flex;
  flex-direction: column;
}

#upload-album-creation > div > label {
  font-size: 25px;
  margin-bottom: 1px;
}

#upload-album-creation > div > input {
  padding: 4px;
  font-size: 18px;
}

#upload-album-creation > div > #upload-createdby-name {
  cursor: not-allowed;
}

#upload-album-creation > #upload-files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 25%;
  min-width: 300px;
  color: black;
  border-radius: 15px;
}

#upload-album-creation > #upload-files-container > h2 {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

#upload-album-creation > #upload-files-container > h2 > span {
  font-size: 16px;
  color: green;
}

#upload-album-creation > #upload-files-container > #grid-file-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 25%;
  /* gap: 10px; */
  width: 100%;
  height: 100%;
  /* padding: 5px; */
  align-items: center;
  overflow-y: auto;
  /*   margin-bottom: 20px; */
}

#create-album-btn {
  padding: 5px;
  width: 25%;
  font-size: 20px;
  letter-spacing: 4px;
  border: 1px solid white;
  transition: letter-spacing 200ms ease-in-out,
    background-color 200ms ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

#create-album-btn:hover {
  letter-spacing: 0px;
  background-color: green;
  border: 1px solid white;
}

#grid-file-container > .file-span {
  /*    width: fit-content; */
  /*   margin: auto; */
  font-size: 16px;
  font-weight: 700;
  /*   padding: 5px; */
  text-align: center;
}

#upload-album-creation
  > #upload-files-container
  > #grid-file-container
  :last-child.file-span {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   flex: 1; */
  height: 100%;
  /*   text-align: center; */
  /*   margin: auto; */
}

#upload-files-nodrag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   padding: 10px; */
  width: 25%;
  flex: 0 1 auto;
  min-width: 250px;
}

#upload-files-nodrag-container > * {
  width: 75%;
  min-width: 225px;
}
