@keyframes uploadHeaderAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    /* letter-spacing: 3px; */
  }
}

#application-page-header.upload-header {
  /* justify-content: center; */
  align-items: center;
  padding-left: 25px;
}

#application-page-header.upload-header > h1 {
  text-align: left;
  color: white;
  animation: uploadHeaderAnimation 500ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 3px;
  opacity: 1;
  white-space: nowrap;
}

#upload-album-creation {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  align-items: center;
  color: white;
  margin-top: 50px;
  gap: 10px;
}

#upload-album-creation > div {
  display: flex;
  flex-direction: column;
}

#upload-album-creation > div > label {
  font-size: 25px;
  margin-bottom: 1px;
}

#upload-album-creation > div > input {
  padding: 4px;
  font-size: 18px;
}

#upload-album-creation > div > #upload-createdby-name {
  cursor: not-allowed;
}

#upload-album-creation > #upload-files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 25%;
  min-width: 300px;
  color: black;
  border-radius: 15px;
  border: 1px solid black;
}

#upload-album-creation > #upload-files-container > h2 {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

#upload-album-creation > #upload-files-container > h2 > span {
  font-size: 20px;
  color: #004d0f;
  font-weight: 700;
}

#upload-album-creation > #upload-files-container > #grid-file-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 25%;
  /* gap: 10px; */
  width: 100%;
  height: 100%;
  /* padding: 5px; */
  align-items: center;
  overflow-y: auto;
  /*   margin-bottom: 20px; */
}

#create-album-btn {
  padding: 5px;
  width: 25%;
  min-width: 125px;
  color: white;
  font-size: 20px;
  background-color: #6f0000;
  letter-spacing: 4px;
  border: 1px solid #6f0000;
  transition: letter-spacing 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    background-color 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    border 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
  /*   border-radius: 10px; */
  margin-top: 30px;
}

#create-album-btn:hover {
  letter-spacing: 0px;
  background-color: #a30000;
  border: 1px solid white;
}

#grid-file-container > .file-span {
  /*    width: fit-content; */
  /*   margin: auto; */
  font-size: 16px;
  font-weight: 700;
  /*   padding: 5px; */
  text-align: center;
}

#upload-album-creation
  > #upload-files-container
  > #grid-file-container
  :last-child.file-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#upload-files-nodrag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#upload-files-nodrag-container > label {
  width: 30%;
  /* margin: auto; */
  margin-top: 6px;
  min-width: 130px;
  padding: 5px 0px;
  font-size: 16px;
  text-align: center;
  color: white;
  border: 1px solid black;
  background-color: #000000d1;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 7px;
  transition: letter-spacing 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

#upload-files-nodrag-container > label:hover {
  letter-spacing: 0px;
  background-color: black;
}

#upload-files-nodrag-container > span {
  /* margin: auto; */
  font-size: 20px;
  font-weight: 700;
}

#clear-all-btn {
  margin-top: -10px;
  padding: 5px 0px;
  width: 8%;
  min-width: 125px;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: letter-spacing 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 7px;
}

#clear-all-btn:hover {
  letter-spacing: 0px;
  background-color: #424242;
  color: white;
}
